Mail does not work with OpenSMTPD

Hello,

today I installed bitwarden on premise. Everything seemed to work until I try to send mails like the verification one. After several time of debugging I think I found the problem now. The message in the bwdata/core/logs/Api/xyz.txt was the following:

```2018-01-02 21:43:25.226 +00:00 [Error] Mail send failed.
System.Net.Mail.SmtpException: Authentication failed.
   at System.Net.Mail.SmtpConnection.ConnectAndHandshakeAsyncResult.AuthenticateContinue()
   at System.Net.Mail.SmtpConnection.ConnectAndHandshakeAsyncResult.AuthenticateContinueCallback(IAsyncResult result)
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Net.Mail.SmtpConnection.ConnectAndHandshakeAsyncResult.End(IAsyncResult result)
   at System.Net.Mail.SmtpTransport.EndGetConnection(IAsyncResult result)
   at System.Net.Mail.SmtpClient.ConnectCallback(IAsyncResult result)
```

Because everything works fine by hand with "openssl s_client" I started opensmtpd in debug mode and was able to see what bitwarden does:

```smtp: 0x18dc456d6000: connected to listener 0x18dce0f91000 [hostname=mail.xyz.net, port=587, tag=]
smtp: 0x18dc456d6000: STATE_NEW -> STATE_CONNECTED
7539c5ff3f92e68d smtp event=connected address=10.10.10.20 host=10.10.10.20
smtp: 0x18dc456d6000: >>> 220 mail.xyz.net ESMTP OpenSMTPD
smtp: 0x18dc456d6000: <<< EHLO 5d64713b1721
smtp: 0x18dc456d6000: STATE_CONNECTED -> STATE_HELO
smtp: 0x18dc456d6000: >>> 250-mail.xyz.net Hello 5d64713b1721 [10.1.10.20], pleased to meet you
smtp: 0x18dc456d6000: >>> 250-8BITMIME
smtp: 0x18dc456d6000: >>> 250-ENHANCEDSTATUSCODES
smtp: 0x18dc456d6000: >>> 250-SIZE 52428800
smtp: 0x18dc456d6000: >>> 250-DSN
smtp: 0x18dc456d6000: >>> 250-STARTTLS
smtp: 0x18dc456d6000: >>> 250 HELP
smtp: 0x18dc456d6000: <<< STARTTLS
smtp: 0x18dc456d6000: >>> 220 2.0.0: Ready to start TLS
smtp: 0x18dc456d6000: STATE_HELO -> STATE_TLS
debug: lka: looking up pki "mail.xyz.net"
debug: session_start_ssl: switching to SSL
debug: pony: rsae_priv_enc
7539c5ff3f92e68d smtp event=starttls address=10.10.10.20 host=10.10.10.20 ciphers="version=TLSv1.2, cipher=ECDHE-RSA-AES256-GCM-SHA384, bits=256"
smtp: 0x18dc456d6000: STATE_TLS -> STATE_HELO
smtp: 0x18dc456d6000: <<< EHLO 5d64713b1721
smtp: 0x18dc456d6000: STATE_HELO -> STATE_HELO
smtp: 0x18dc456d6000: >>> 250-mail.xyz.net Hello 5d64713b1721 [10.10.10.20], pleased to meet you
smtp: 0x18dc456d6000: >>> 250-8BITMIME
smtp: 0x18dc456d6000: >>> 250-ENHANCEDSTATUSCODES
smtp: 0x18dc456d6000: >>> 250-SIZE 52428800
smtp: 0x18dc456d6000: >>> 250-DSN
smtp: 0x18dc456d6000: >>> 250-AUTH PLAIN LOGIN
smtp: 0x18dc456d6000: >>> 250 HELP
smtp: 0x18dc456d6000: <<< AUTH login <BASE64-username>
smtp: 0x18dc456d6000: STATE_HELO -> STATE_AUTH_USERNAME
smtp: 0x18dc456d6000: >>> 334 VXNlcm5hbWU6
smtp: 0x18dc456d6000: <<< <BASE64-password>
smtp: 0x18dc456d6000: STATE_AUTH_USERNAME -> STATE_AUTH_PASSWORD
smtp: 0x18dc456d6000: >>> 334 UGFzc3dvcmQ6
7539c5ff3f92e68d smtp event=closed address=10.10.10.20 host=10.10.10.20 reason="io-error: Connection reset by peer"
debug: smtp: 0x18dc456d6000: deleting session: IO error
```

The problem seems to be the "AUTH login", because there is no newline between the command and the BASE64 username. OpenSMTPD is waiting for the username although Bitwarden already presents the password. Maybe postfix accepts this command, but OpenSMTPD doesn't seem to.

Could you confirm this problem?

PS: Is there a way to manual confirm the verification mail?

Sorry, I don't know a lot about SMTP. We use the default SMTP libraries in .NET so I am not sure what they actually do. You can see our implementation here: https://github.com/bitwarden/core/blob/master/src/Core/Services/Implementations/SmtpMailDeliveryService.cs#L28

Ok I will have a look and let you know.

I can confirm that your implementation works as RFC4945 (Section 4) allows to use the AUTH command. The problem is OpenSMTPD which does not understand this way. I will try to figure it out in their project and let keep you informed if you want to.

I created an issue here: https://github.com/OpenSMTPD/OpenSMTPD/issues/819

Thanks. I will go ahead and close this since it doesn't seem to be our issue. Feel free to update this issue regardless as you find more.

So there is a commit to OpenBSD to fix this problem which will be released to github soon also. Next Releases as well as OpenBSD current will have this problem solved.